[data-slate-editor='true'] {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background: #f1f5f9;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

:focus[data-slate-editor='true'] {
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}

#app {
  display: flex;
  flex-direction: column;
  max-width: 65ch;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
}
